body {
  margin:0;
  padding:0;
  min-height:100vh;
  background-image: url("images/bg-intro-desktop.png");
  background-color:hsl(0, 100%, 74%);
  font-family: 'Poppins', sans-serif;
}

.title {
  color: #fff;
padding-right:40px;
}

.title h1 {
  font-weight:700;
  font-size: 40px;
}

.title p{
  font-size: 16px;
  line-height: 25px;
}



.upper-box {
  background-color: hsl(248, 32%, 49%);
  border-radius: 5px;
  width:100%;
  text-align: center;
  padding: 4px 0;
  margin-bottom: 20px;
  box-shadow: 6px 6px hsl(248, 32%, 36%) ;
  color:#fff;
}

.grid-container {
  max-width: 80%;
  margin: auto;
padding:70px 0;
}

.container-row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50%, 350px));
  justify-content: space-between;
  align-items: center;
}
.container {
  border-radius:5px;
  width:100%;
}

.form {
  padding: 20px 30px;
  background-color: #fff;
  border-radius:10px;
}

.form-control {
  margin-bottom:5px;
  padding-bottom:20px;
  position:relative;
}


.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display:block;
  width:98%;
  padding:10px 0;
  padding-left:5px;
  font-size:16px;
  font-weight: 600;
  margin:0;
}

.form p {
  font-size: 12px;
  text-align: center;
}

.form p b {
  color:hsl(0, 100%, 74%);
}
.form-control input:focus {
  outline:0;
  border-color:#777;
  color:#777;
}

.form-control.succes input {
  border-color: green;
}

.form-control.error input {
  border-color: hsl(0, 100%, 74%) ;
}

.form-control small{
  color: hsl(0, 100%, 74%) ;
  position:absolute;
  bottom:0;
  left:0;
  visibility:hidden;
}

.form-control svg {
  position:absolute;
  right:8px;
  top:10px;
  visibility:hidden;
}

.form-control.error small, .form-control.error svg{
  visibility: visible;
}

.form button {
  cursor:pointer;
  background-color:hsl(154, 59%, 51%);
  border-radius:5px;
  border:none;
  color:#fff;
  display:block;
  padding:12px;
  font-size:20px;
  width:100%;
  box-shadow: 3px 3px hsl(154, 59%, 41%);
}

.form button:hover {
  background-color:hsl(154, 59%, 81%);
}


@media screen and (max-width:576px){
  .container-row {
    grid-template-columns: repeat(auto-fill, minmax(100%, 350px));
  }

  .grid-container {
    max-width: 80%;
    margin: auto;
    padding:70px 0;
  }

  .title {
  padding-right:0;
  text-align: center;
  }

}
